# Output files
*.exe
armips
bin2c
mkdmadata
mkldscript
mkspecrules
preprocess_pragmas
vtxdis
yaz0
gzinject/gzinject
gzinject/obj/*
z64compress/z64compress
z64compress/o/*

compiler_archives/archives/
ido_recomp/
egcs/
